#workout
  %p= @workout.date
  %p= @workout.workout
  %p= @workout.mood
  %p= @workout.length
#exercises
  %h2 Exercises
  = render @workout.exercises

  %h3 Edit an exercise
  = render "exercises/edit_form"

  = link_to "Cancel", @workout

